/* Light */
:root {
    --surface-svg-bg-color: var(--gray-800);
}

/* 
 * Dark Mode
*/
@media (prefers-color-scheme: dark) {
    :root[class="dark-mode"] {
        --surface-svg-bg-color: var(--gray-50);
    }
}

html {
    /* font size will determine the PrimeVue Components scaling */
    font-size: 14px;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.text-decorate-none {
    text-decoration: none;
}

.surface-svg-fill {
    fill: var(--surface-svg-bg-color);
}